<style>
.wrapper {
  background-image: url("res/doors-face/app/views/Blue-Doors-iPad-Wallpaper.jpg");
  height: 1024px;
}
.text {
  color: white;
  text-align: center;
  padding-top : 250px;
}

.text div {
  font-size: 30px;
}
</style>

<div class="wrapper">
  <div class="text">
    <div>Установка дверей</div>
    <div>МТС: <strong>8 029 558-28-26 Владимир</strong></div>
    <div>Velcom: <strong>8 044 494-64-43 Владимир</strong></div>
    <div>Установка межкомнатных дверей в <strong>Минске</strong> и <strong>Минской области.</strong></div>
    <div>Опыт работы более <strong>15 лет</strong>.</div>
  </div>
</div>